Repository wangshunnn/mind-flayer: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

assert_lefthook_installed: true
skip_lfs: true

output:
  - meta
  - summary
  - success
  - failure
  # - execution
  - skips

pre-commit:
  parallel: true
  commands:
    format-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s format:frontend
    check-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s check:frontend
    lint-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s lint:frontend
    test-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css}"
      run: pnpm -s test:frontend
    format-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo fmt
    check-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo check
    test-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo test

pre-push:
  commands:
    build-frontend:
      tags:
        - frontend
      run: pnpm -s build:frontend

commit-msg:
  commands:
    verify-commit-message:
      run: npx --no-install commitlint --edit {1}

feat: update README and README.zh-CN to reflect new logo and tech stack changes
  README.md
  README.zh-CN.md
Due: none

fix: remove unnecessary note from README and README.zh-CN
  README.md
  README.zh-CN.md
Due: none

feat(provider): introduce new Minimax M2.5
  src/lib/provider-constants.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update tool call components to use BashExecCommandLine and improve input handling
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
Due: none

feat(provider): update example to use MiniMax M2.5 and modify prompt
  sidecar/tests/provider.example.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(settings): make selectedModelApiId optional and remove default value
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(prompt-input): improve textarea auto-resize comments and adjust CSS class for height calculation
  src/components/ai-elements/prompt-input.tsx
Due: none

feat: replace KbdGroup with CommandShortcut
  src/components/nav-main.tsx
  src/components/nav-top.tsx
  src/components/nav-user.tsx
  src/components/ui/sidebar.tsx
Due: none

feat(validator): expand allowed and dangerous commands in the command validator
  sidecar/src/tools/bash-exec/__tests__/validator.test.ts
  sidecar/src/tools/bash-exec/executor.ts
  sidecar/src/tools/bash-exec/validator.ts
  src/components/ai-elements/tool-call.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(AppChat): implement pending pin functionality and enhance scroll behavior
  src/components/app-chat.tsx
Due: none

fix(AppChat): ensure chat is ready before submitting a message
  src/components/ai-elements/prompt-input.tsx
  src/components/app-chat.tsx
Due: none

feat(AppChat): enhance scroll behavior with custom animation settings
  src/components/ai-elements/conversation.tsx
  src/components/app-chat.tsx
Due: none

feat(SelectModel): update button label to 'More Models' and add translation
  src/components/select-model.tsx
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend

feat(BashExecCommandLine): add copy to clipboard functionality for command output
  src/components/ai-elements/tool-call.tsx
Due: none

refactor(AppChat): refactor duration tracking in chat
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
Due: none

feat(AppChat): enhance user feedback with loading indicator during thinking process
  src/components/ai-elements/thinking-process.tsx
  src/components/app-chat.tsx
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend

feat(AppChat): enhance user feedback with loading indicator during thinking process
  src/components/app-chat.tsx
  src/components/app-sidebar.tsx
  src/components/nav-chats.tsx
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend

feat: add chat title generation functionality and integrate with chat creation
  sidecar/src/routes/index.ts
  sidecar/src/routes/title.ts
  src/components/app-chat.tsx
  src/hooks/use-chat-storage.ts
  src/lib/chat-utils.ts
  src/lib/sidecar-client.ts
  src/pages/Home.tsx
  src/types/chat.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: implement command validation
  package.json
  pnpm-lock.yaml
  sidecar/src/tools/bash-exec/__tests__/validator.test.ts
  sidecar/src/tools/bash-exec/index.ts
  sidecar/src/tools/bash-exec/validator.ts
  src/components/ai-elements/message.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add ToolCallTimelineItem and ToolCallsSummary components for enhanced tool call tracking
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
Due: none

refactor: standardize gap spacing in UI components and update tool usage text
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend

feat: add markdown image instructions for local screenshots in system prompt
  sidecar/src/tools/bash-exec/index.ts
  sidecar/src/utils/__tests__/system-prompt-builder.test.ts
  sidecar/src/utils/system-prompt-builder.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add cache busting support for local image URLs and update related tests
  src/components/ai-elements/message.test.tsx
  src/components/ai-elements/message.tsx
  src/components/ai-elements/streamdown-local-image.tsx
  src/lib/local-image-url.test.ts
  src/lib/local-image-url.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add Telegram channel integration with settings UI and connection testing
  pnpm-lock.yaml
  sidecar/package.json
  sidecar/src/index.ts
  sidecar/src/routes/channel-runtime-config.ts
  sidecar/src/routes/channel-telegram-test.ts
  sidecar/src/routes/index.ts
  sidecar/src/services/channel-runtime-config-service.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/services/tool-service.ts
  sidecar/src/type.ts
  src/components/app-chat.tsx
  src/lib/provider-constants.ts
  src/lib/sidecar-client.ts
  src/lib/window-manager.ts
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Settings/components/ChannelSection.tsx
  src/pages/Settings/index.tsx
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(telegram): enable web search and bash execution for Telegram bot messages
  sidecar/src/services/telegram-bot-service.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update MessageResponse to streamline remark and rehype plugin handling
  src/components/ai-elements/message.tsx
Due: none

feat: rename
  pnpm-lock.yaml
  src/components/channel-telegram-chat.tsx
  src/locales/en/common.json
  src/locales/zh-CN/common.json
Due: format-frontend, check-frontend, lint-frontend

feat: add data-tauri-drag-region attributes to TopFloatingHeader component
  src/components/top-floating-header.tsx
Due: none

feat(telegram): implement chat action handling
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance TelegramBotService to manage pending whitelist request previews
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update README files with new screenshots
  README.md
  README.zh-CN.md
  preview/telegram-bot.png
Due: none

fix: update Telegram chat sidebar styling
  src/components/channel-telegram-chat.tsx
Due: none

fix: unescape HTML entities before wrapping in replaceHtmlHeadings
  sidecar/src/utils/telegram-rich-text.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add read tool and skills support
  package.json
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/__tests__/tool-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/services/tool-service.ts
  sidecar/src/skills/__tests__/catalog.test.ts
  sidecar/src/skills/catalog.ts
  sidecar/src/tools/__tests__/read-tool.test.ts
  sidecar/src/tools/index.ts
  sidecar/src/tools/read/index.ts
  sidecar/src/utils/__tests__/system-prompt-builder.test.ts
  sidecar/src/utils/system-prompt-builder.ts
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/lib/constants.ts
  src/lib/tool-helpers.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance read tool functionality and add skill support
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/skills/__tests__/catalog.test.ts
  sidecar/src/skills/catalog.ts
  sidecar/src/tools/__tests__/read-tool.test.ts
  sidecar/src/tools/read/index.ts
  src-tauri/bundled-skills/skill-smoke-test/SKILL.md
  src-tauri/src/setup/sidecar.rs
  src-tauri/tauri.conf.json
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/lib/constants.ts
  src/lib/tool-helpers.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: enhance ToolCall component with auto-expand functionality for approval requests
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
Due: none

feat: refactor className usage with cn() utility for improved readability and maintainability
  .claude/CLAUDE.md
  .github/copilot-instructions.md
  src/components/ai-elements/message.tsx
  src/components/ai-elements/prompt-input.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/ui/avatar.tsx
  src/components/ui/dialog.tsx
  src/components/ui/hover-card.tsx
  src/components/ui/input.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/slide-panel.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.tsx
  src/pages/Home.tsx
Due: none

feat: implement custom app support directory resolution and refactor related file paths
  sidecar/src/tools/read/index.ts
  sidecar/src/utils/__tests__/system-prompt-builder.test.ts
  src-tauri/src/app_support.rs
  src-tauri/src/keychain.rs
  src-tauri/src/lib.rs
  src-tauri/src/setup/sidecar.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: add title generation functionality with improved prompt handling and sanitization
  sidecar/src/routes/__tests__/title.test.ts
  sidecar/src/routes/title.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add appearance theme selection and preview in settings
  src/components/ai-elements/conversation.tsx
  src/components/nav-user.tsx
  src/components/theme-provider.test.tsx
  src/components/theme-provider.tsx
  src/components/ui/sonner.tsx
  src/lib/appearance-themes.ts
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Settings/components/GeneralSection.tsx
  src/styles/App.css
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend
