Repository wangshunnn/mind-flayer: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

assert_lefthook_installed: true
skip_lfs: true

output:
  - meta
  - summary
  - success
  - failure
  # - execution
  - skips

pre-commit:
  parallel: true
  commands:
    format-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s format:frontend
    check-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s check:frontend
    lint-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s lint:frontend
    test-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css}"
      run: pnpm -s test:frontend
    format-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo fmt
    check-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo check
    test-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo test

pre-push:
  commands:
    build-frontend:
      tags:
        - frontend
      run: pnpm -s build:frontend

commit-msg:
  commands:
    verify-commit-message:
      run: npx --no-install commitlint --edit {1}

feat: implement appearance theme preview and refactor theme handling
  src/App.tsx
  src/components/appearance-theme-preview.tsx
  src/components/nav-user.tsx
  src/components/theme-provider.test.tsx
  src/components/theme-provider.tsx
  src/pages/Settings/components/GeneralSection.tsx
  src/styles/App.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add skills management pane and integrate with sidebar
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/routes/__tests__/skills.test.ts
  sidecar/src/routes/channel-runtime-config.ts
  sidecar/src/routes/chat.ts
  sidecar/src/routes/index.ts
  sidecar/src/routes/skills.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/channel-runtime-config-service.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/skills/__tests__/catalog.test.ts
  sidecar/src/skills/catalog.ts
  sidecar/src/tools/__tests__/read-tool.test.ts
  sidecar/src/type.ts
  sidecar/src/utils/__tests__/system-prompt-builder.test.ts
  sidecar/src/utils/http-errors.ts
  sidecar/src/utils/system-prompt-builder.ts
  src-tauri/bundled-skills/skill-smoke-test/SKILL.md
  src-tauri/src/setup/sidecar.rs
  src/components/app-chat.tsx
  src/components/app-sidebar.tsx
  src/components/nav-skills.tsx
  src/components/skills-pane.test.tsx
  src/components/skills-pane.tsx
  src/lib/sidecar-client.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
  src/styles/streamdown.css
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: add tests for channel runtime config and skills management, enhance error handling
  sidecar/src/routes/__tests__/channel-runtime-config.test.ts
  sidecar/src/routes/__tests__/skills.test.ts
  sidecar/src/routes/channel-runtime-config.ts
  sidecar/src/services/__tests__/channel-runtime-config-service.test.ts
  sidecar/src/services/channel-runtime-config-service.ts
  sidecar/src/skills/__tests__/catalog.test.ts
  sidecar/src/skills/catalog.ts
  sidecar/src/utils/http-errors.ts
  src-tauri/bundled-skills/skill-smoke-test/SKILL.md
  src/components/skills-pane.test.tsx
  src/components/skills-pane.tsx
  src/lib/sidecar-client.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update navigation labels for clarity and consistency in English and Chinese locales
  src/components/nav-main.tsx
  src/locales/en/common.json
  src/locales/zh-CN/common.json
Due: format-frontend, check-frontend, lint-frontend

refactor: replace SQLite with JSONL file storage
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/hooks/use-chat-storage.ts
  src/lib/chat-fs.ts
  src/lib/database.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: add create-plan and frontend-design bundled skills
  src-tauri/bundled-skills/create-plan/SKILL.md
  src-tauri/bundled-skills/create-plan/assets/icon.svg
  src-tauri/bundled-skills/frontend-design/SKILL.md
  src-tauri/bundled-skills/frontend-design/assets/icon.svg
Due: none

feat: discover skills from ~/.claude (plugins and global)
  sidecar/src/skills/catalog.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: migrate sidecar from Node.js to Bun runtime
  sidecar/package.json
  sidecar/scripts/mind-flayer-sidecar
  sidecar/src/index.ts
  sidecar/src/routes/local-image.ts
  sidecar/src/tools/bash-exec/executor.ts
  sidecar/src/utils/lifecycle.ts
  sidecar/tsconfig.json
  sidecar/tsup.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

docs: add Rust multi-window AI design spec
  docs/superpowers/specs/2026-03-15-rust-multi-window-ai-design.md
Due: none

chore: ignore .worktrees directory
  .gitignore
Due: none

feat: add OpenAI and Anthropic providers
  sidecar/src/config/__tests__/constants.test.ts
  sidecar/src/config/constants.ts
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/providers/__tests__/anthropic-provider.test.ts
  sidecar/src/providers/__tests__/index.test.ts
  sidecar/src/providers/__tests__/openai-provider.test.ts
  sidecar/src/providers/anthropic-provider.ts
  sidecar/src/providers/index.ts
  sidecar/src/providers/openai-provider.ts
  sidecar/src/routes/chat.ts
  sidecar/src/type.ts
  sidecar/src/utils/__tests__/provider-options.test.ts
  sidecar/src/utils/provider-options.ts
  src/components/app-chat.tsx
  src/components/appearance-theme-preview.tsx
  src/components/nav-user.tsx
  src/components/select-model.tsx
  src/components/tool-button.tsx
  src/components/ui/dropdown-menu.tsx
  src/hooks/use-autofocus-selected-dropdown-item.ts
  src/lib/appearance-themes.ts
  src/lib/constants.ts
  src/lib/provider-constants.test.ts
  src/lib/provider-constants.ts
  src/lib/reasoning.test.ts
  src/lib/reasoning.ts
  src/lib/window-manager.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
  src/pages/Settings/components/GeneralSection.tsx
  src/pages/Settings/index.tsx
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor: remove unused reasoning functions and related tests
  src/components/app-chat.tsx
  src/lib/reasoning.test.ts
  src/lib/reasoning.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix: correct model IDs for Anthropic and add new OpenAI model to provider constants
  sidecar/src/utils/__tests__/provider-options.test.ts
  src/lib/provider-constants.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

docs: add Plan B (AI providers + agentic loop) and Plan C (sidecar removal)
  docs/superpowers/plans/2026-03-15-rust-ai-plan-b-ai-core.md
  docs/superpowers/plans/2026-03-15-rust-ai-plan-c-sidecar-removal.md
Due: none

feat: add comprehensive agents documentation
  AGENTS.md
Due: none

feat: update README with new tech stack components and version updates
  README.md
  README.zh-CN.md
Due: none

feat: enhance reasoning config for Anthropic models in provider options
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/utils/__tests__/provider-options.test.ts
  sidecar/src/utils/provider-options.ts
  src/components/app-chat.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add model provider and label metadata to stream responses and UI components
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  src/components/ai-elements/message-actions-bar.tsx
  src/components/app-chat.tsx
  src/components/nav-channel-debug.tsx
  src/components/nav-main.tsx
  src/components/nav-skills.tsx
  src/lib/context-window-usage.test.ts
  src/lib/context-window-usage.ts
  src/lib/provider-constants.test.ts
  src/lib/provider-constants.ts
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: refactor command validation to use dangerous commands approach
  sidecar/src/tools/bash-exec/__tests__/validator.test.ts
  sidecar/src/tools/bash-exec/validator.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance tool calls summary and related components for better display and functionality
  src/components/ai-elements/message.tsx
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.test.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/components/nav-top.tsx
  src/components/top-floating-header.tsx
  src/lib/constants.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
  src/styles/streamdown.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(provider): support new model MiniMax-M2.7
  src/lib/provider-constants.test.ts
  src/lib/provider-constants.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(ui): enhance hover card styles and improve context window usage details layout
  src/components/ai-elements/context-window-usage-indicator.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/channel-telegram-chat.tsx
  src/components/ui/hover-card.tsx
Due: none

refactor: use sliding window for message compaction
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/utils/__tests__/message-compaction.test.ts
  sidecar/src/utils/__tests__/message-processor.test.ts
  sidecar/src/utils/message-compaction.ts
  sidecar/src/utils/message-processor.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: implement session management for Telegram bot with delete functionality
  sidecar/src/index.ts
  sidecar/src/routes/__tests__/channel-telegram-sessions.test.ts
  sidecar/src/routes/channel-telegram-sessions.ts
  sidecar/src/routes/index.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/__tests__/telegram-session-store.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/services/telegram-session-store.ts
  sidecar/src/utils/http-errors.ts
  src/components/channel-telegram-chat.test.tsx
  src/components/channel-telegram-chat.tsx
  src/lib/sidecar-client.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: implement rollback for session mutations on persistence failure and improve session handling
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/__tests__/telegram-session-store.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/services/telegram-session-store.ts
  src/components/channel-telegram-chat.test.tsx
  src/components/channel-telegram-chat.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance session mutation handling and improve session deletion behavior
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/__tests__/telegram-session-store.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/services/telegram-session-store.ts
  src/components/channel-telegram-chat.test.tsx
  src/components/channel-telegram-chat.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add image preview functionality with local and remote image support
  package.json
  pnpm-lock.yaml
  sidecar/src/routes/__tests__/remote-image.test.ts
  sidecar/src/routes/index.ts
  sidecar/src/routes/remote-image.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/ai-elements/message.test.tsx
  src/components/ai-elements/streamdown-local-image.tsx
  src/lib/image-preview.test.ts
  src/lib/image-preview.ts
  src/lib/local-image-url.ts
  src/lib/window-manager.ts
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
  src/pages/ImagePreview.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: enhance remote image handling with validation and proxy URL support
  sidecar/src/routes/__tests__/remote-image.test.ts
  sidecar/src/routes/remote-image.ts
  src/lib/image-preview.test.ts
  src/lib/image-preview.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance remote image handling with IPv6 support and response cancellation
  sidecar/src/routes/__tests__/remote-image.test.ts
  sidecar/src/routes/remote-image.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add validation for link-local IPv6 addresses and handle 304 proxy error status
  sidecar/src/routes/__tests__/remote-image.test.ts
  sidecar/src/routes/remote-image.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(ui): update SidebarInset component to use rounded-md for improved styling
  src/components/ui/sidebar.tsx
Due: none

feat(ui): enhance ActionButton to support tooltip visibility toggle
  src/pages/ImagePreview.tsx
Due: none

feat: enhance Telegram media handling and response format for attachments
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/utils/__tests__/system-prompt-builder.test.ts
  sidecar/src/utils/__tests__/telegram-media-message.test.ts
  sidecar/src/utils/system-prompt-builder.ts
  sidecar/src/utils/telegram-media-message.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update workspace documentation for improved user onboarding and memory management
  sidecar/src/utils/system-prompt-builder.ts
  src-tauri/bundled-workspace/AGENTS.md
  src-tauri/bundled-workspace/BOOTSTRAP.md
  src-tauri/bundled-workspace/IDENTITY.md
  src-tauri/bundled-workspace/MEMORY.md
  src-tauri/bundled-workspace/SOUL.md
  src-tauri/bundled-workspace/USER.md
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore: improve logging in TelegramBotService
  sidecar/src/services/telegram-bot-service.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update package manager version and adjust system prompt tests for workspace paths
  package.json
  sidecar/src/utils/__tests__/system-prompt-builder.test.ts
  sidecar/src/utils/system-prompt-builder.ts
  src/styles/streamdown.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update localization for highlights in chat component and tests
  src/components/new-chat-empty-state.test.tsx
  src/components/new-chat-empty-state.tsx
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend

feat: add updater functionality with localization and GitHub Actions for release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  README.zh-CN.md
  docs/releasing.md
  package.json
  pnpm-lock.yaml
  release-it.config.mjs
  scripts/sync-release-version.ts
  sidecar/package.json
  sidecar/scripts/build-sidecar.mjs
  sidecar/scripts/rename-binaries.sh
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/hooks/use-app-updater.ts
  src/lib/updater.test.ts
  src/lib/updater.ts
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Home.tsx
  src/pages/Settings/components/AboutSection.tsx
  tsconfig.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat(app): implement application exit handling and window management for macOS
  src-tauri/src/lib.rs
  src-tauri/src/setup.rs
Due: format-backend, check-backend, test-backend

feat: implement sidebar update indicator and integrate update handling in app sidebar
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .vscode/settings.json
  docs/releasing.md
  src/components/SidebarUpdateIndicator.tsx
  src/components/app-sidebar.tsx
  src/components/nav-chats.test.tsx
  src/components/nav-chats.tsx
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend
