Repository wangshunnn/mind-flayer: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

format-frontend:
  tags:
  - frontend
  run: pnpm -s format:frontend

check-frontend:
  tags:
  - frontend
  run: pnpm -s check:frontend

lint-frontend:
  tags:
  - frontend
  run: pnpm -s lint:frontend

test-frontend:
  tags:
  - frontend
  run: pnpm -s test:frontend

format-backend:
  tags:
  - backend
  - rust
  run: cargo fmt

check-backend:
  tags:
  - backend
  - rust
  run: cargo check

test-backend:
  tags:
  - backend
  - rust
  run: cargo test

feat(ui): update font sizes in settings components for improved readability
  src/pages/Settings/components/AboutSection.tsx
  src/pages/Settings/components/GeneralSection.tsx
  src/pages/Settings/components/KeyboardSection.tsx
Due: none

feat(updater): implement app updater functionality with event handling and state management
  src/components/app-updater-owner.tsx
  src/hooks/use-app-updater.ts
  src/lib/updater.ts
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix: code review
  src/components/app-updater-owner.tsx
  src/hooks/use-app-updater.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

docs(changelog): add v0.1.0 release notes
  CHANGELOG.md
Due: none

fix(release): update tauri-action to specific version for stability
  .github/workflows/release.yml
Due: none

chore(release): v0.1.1
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

fix: update version to 0.1.1 and clean up tauri configuration
  src-tauri/Cargo.lock
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat: enhance command execution with trusted user-managed path discovery
  sidecar/src/tools/bash-exec/__tests__/executor.test.ts
  sidecar/src/tools/bash-exec/executor.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore: enhance version update process with improved error handling and file update
  scripts/sync-release-version.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(release): v0.2.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat: add GitHub release URL handling and update UI for release page access
  src/lib/updater.test.ts
  src/lib/updater.ts
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Settings/components/AboutSection.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(ui): replace ArrowUpRightIcon with SquareArrowOutUpRightIcon in SkillsPane and AboutSection
  src/components/skills-pane.tsx
  src/pages/Settings/components/AboutSection.tsx
Due: none

fix(ui): remove unused SparklesIcon from Settings section mapping
  src/pages/Settings/index.tsx
Due: none

feat(proxy): implement proxy URL configuration and normalization functions
  sidecar/src/server.ts
  sidecar/src/utils/__tests__/proxy-url.test.ts
  sidecar/src/utils/proxy-url.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(settings): add proxy URL configuration and update UI components for settings
  src-tauri/src/setup/sidecar.rs
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Settings/components/AdvancedSection.tsx
  src/pages/Settings/index.tsx
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat(settings): enhance action feedback handling in settings components
  src/pages/Settings/components/AdvancedSection.tsx
  src/pages/Settings/components/ChannelSection.tsx
  src/pages/Settings/components/ProviderSection.tsx
  src/pages/Settings/components/WebSearchSection.tsx
  src/pages/Settings/components/shared.tsx
  src/pages/Settings/index.tsx
Due: none

chore(release): v0.7.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat: add agent session tools for Claude Code and Codex delegation
  sidecar/src/server.ts
  sidecar/src/services/__tests__/agent-session-service.test.ts
  sidecar/src/services/__tests__/tool-service.test.ts
  sidecar/src/services/agent-session-service.ts
  sidecar/src/services/tool-service.ts
  sidecar/src/skills/__tests__/catalog.test.ts
  sidecar/src/skills/catalog.ts
  sidecar/src/tools/__tests__/read-tool.test.ts
  sidecar/src/tools/agent-session/index.ts
  sidecar/src/tools/bash-exec/executor.ts
  sidecar/src/tools/index.ts
  src-tauri/bundled-skills/coding-agent-skills/claude-code/SKILL.md
  src-tauri/bundled-skills/coding-agent-skills/claude-code/assets/icon.svg
  src-tauri/bundled-skills/coding-agent-skills/codex/SKILL.md
  src-tauri/bundled-skills/coding-agent-skills/codex/assets/icon.svg
  src-tauri/src/setup/sidecar.rs
  src-tauri/tauri.conf.json
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.test.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/ai-elements/tool-icon.tsx
  src/lib/constants.ts
  src/lib/tool-helpers.test.ts
  src/lib/tool-helpers.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

fix(i18n): rename agent session exited status
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend

feat: review commonts
  sidecar/src/services/__tests__/agent-session-service.test.ts
  sidecar/src/services/agent-session-service.ts
  sidecar/src/skills/__tests__/catalog.test.ts
  sidecar/src/skills/catalog.ts
  sidecar/src/tools/bash-exec/executor.ts
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/ai-elements/tool-icon.tsx
  src/lib/constants.ts
  src/lib/tool-helpers.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add .claude/telemetry/ to .gitignore
  .gitignore
Due: none

feat(provider): introduce DeepSeek provider and new model v4
  package.json
  pnpm-lock.yaml
  public/provider-logos/deepseek-color.svg
  sidecar/package.json
  sidecar/src/config/constants.ts
  sidecar/src/providers/__tests__/deepseek-provider.test.ts
  sidecar/src/providers/__tests__/index.test.ts
  sidecar/src/providers/deepseek-provider.ts
  sidecar/src/providers/index.ts
  sidecar/src/type.ts
  sidecar/src/utils/__tests__/provider-options.test.ts
  sidecar/src/utils/message-compaction.ts
  sidecar/src/utils/provider-options.ts
  src/components/icons/deepseek-icon.tsx
  src/components/icons/index.ts
  src/lib/message-usage-cost.test.ts
  src/lib/provider-constants.test.ts
  src/lib/provider-constants.ts
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(release): v0.8.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

fix(deepseek): replay reasoning_content for tool turns
  sidecar/src/providers/base.ts
  sidecar/src/providers/deepseek-provider.ts
  sidecar/src/providers/index.ts
  sidecar/src/routes/chat.ts
  sidecar/src/services/provider-service.ts
  sidecar/src/utils/__tests__/deepseek-reasoning-replay.test.ts
  sidecar/src/utils/deepseek-reasoning-replay.ts
  sidecar/src/utils/message-compaction.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(release): v0.8.1
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat: enhance assistant activity timeline with detailed reasoning and tool call tracking
  src/components/ai-elements/assistant-activity.test.tsx
  src/components/ai-elements/assistant-activity.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.test.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend

feat: implement fallback parts for unsupported message types and enhance tool call results
  src/components/ai-elements/assistant-activity.test.tsx
  src/components/ai-elements/assistant-activity.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.test.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/lib/tool-helpers.test.ts
  src/lib/tool-helpers.ts
  src/locales/en/chat.json
  src/locales/en/tools.json
  src/locales/zh-CN/chat.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: refactor reasoning content components and remove deprecated thinking process files
  src/components/ai-elements/assistant-activity.tsx
  src/components/ai-elements/reasoning-content.test.tsx
  src/components/ai-elements/reasoning-content.tsx
  src/components/ai-elements/thinking-process.tsx
Due: none

feat: refine hover highlighting for activity rows
  src/components/ai-elements/assistant-activity.test.tsx
  src/components/ai-elements/assistant-activity.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/lib/constants.ts
  src/lib/tool-helpers.test.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix: review
  src/components/ai-elements/assistant-activity.test.tsx
  src/components/ai-elements/assistant-activity.tsx
Due: none

chore(release): v0.9.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

docs: add install tips for macOS
  README.md
  README.zh-CN.md
Due: none

fix: correct y position of traffic light in macOS window configuration
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

chore(release): v0.9.1
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

fix: adjust y position of traffic light in macOS window configuration
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

chore(release): v0.9.2
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat: enhance SidebarUpdateIndicator with error handling and update checks
  src/components/SidebarUpdateIndicator.test.tsx
  src/components/SidebarUpdateIndicator.tsx
  src/components/app-sidebar.tsx
  src/components/app-updater-owner.test.tsx
  src/components/app-updater-owner.tsx
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend

feat: add ActivityIcon component and integrate it into AssistantActivity and ToolCall
  src/components/ai-elements/activity-icon.tsx
  src/components/ai-elements/assistant-activity.test.tsx
  src/components/ai-elements/assistant-activity.tsx
  src/components/ai-elements/tool-call.tsx
Due: none

feat: implement clearCurrentUpdate function and update update handling logic
  src/components/app-updater-owner.test.tsx
  src/components/app-updater-owner.tsx
Due: none

chore(release): v0.10.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

Path conditions:
  format-frontend: any of: *.{js,ts,html,css,json}
  check-frontend: any of: *.{js,ts,html,css,json}
  lint-frontend: any of: *.{js,ts,html,css,json}
  test-frontend: any of: *.{js,ts,html,css}
  format-backend: any of: *.{rs,toml,json} and ^src\-tauri/
  check-backend: any of: *.{rs,toml,json} and ^src\-tauri/
  test-backend: any of: *.{rs,toml,json} and ^src\-tauri/
