Repository wangshunnn/mind-flayer: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

format-frontend:
  tags:
  - frontend
  run: pnpm -s format:frontend

check-frontend:
  tags:
  - frontend
  run: pnpm -s check:frontend

lint-frontend:
  tags:
  - frontend
  run: pnpm -s lint:frontend

test-frontend:
  tags:
  - frontend
  run: pnpm -s test:frontend

format-backend:
  tags:
  - backend
  - rust
  run: cargo fmt

check-backend:
  tags:
  - backend
  - rust
  run: cargo check

test-backend:
  tags:
  - backend
  - rust
  run: cargo test

feat: update local shortcuts for new chat, settings, and search history
  src/components/app-chat.tsx
  src/locales/en/settings.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend

fix: align list bullet to first line
  src/styles/streamdown.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor(ai-elements): update to use AI SDK UI part types and helpers
  package.json
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/lib/tool-helpers.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(cli): add atomic-commit command definition
  .claude/commands/atomic-commit.md
Due: none

feat: implement message processing and system prompt builder
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/index-old.ts
  sidecar/src/utils/__tests__/message-processor.test.ts
  sidecar/src/utils/message-processor.ts
  sidecar/src/utils/system-prompt-builder.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(web-search): add abort signal support to web search execution
  sidecar/src/tools/web-search.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(bash-tool): implement bash execution tool
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/routes/chat.ts
  sidecar/src/routes/cleanup.ts
  sidecar/src/routes/index.ts
  sidecar/src/services/__tests__/tool-service.test.ts
  sidecar/src/services/tool-service.ts
  sidecar/src/tools/__tests__/bash-exec-tool.test.ts
  sidecar/src/tools/bash-exec.ts
  sidecar/src/tools/bash-exec/__tests__/platform.test.ts
  sidecar/src/tools/bash-exec/__tests__/validator.test.ts
  sidecar/src/tools/bash-exec/executor.ts
  sidecar/src/tools/bash-exec/platform.ts
  sidecar/src/tools/bash-exec/validator.ts
  sidecar/src/tools/bash-exec/workspace.ts
  sidecar/src/tools/index.ts
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/hooks/use-chat-storage.ts
  src/lib/tool-helpers.ts
  src/locales/en/tools.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(bash-tool): implement bash execution tool with platform support and workspace management
  sidecar/src/services/tool-service.ts
  sidecar/src/tools/bash-exec/__tests__/platform.test.ts
  sidecar/src/tools/bash-exec/executor.ts
  sidecar/src/tools/bash-exec/index.ts
  sidecar/src/tools/bash-exec/platform.ts
  sidecar/src/tools/bash-exec/workspace.ts
  sidecar/src/tools/web-search/index.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance environment context builder and reorder context sections
  sidecar/src/utils/system-prompt-builder.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(bash-tool): add tests for command execution and expand tilde functionality
  sidecar/src/tools/bash-exec/__tests__/executor.test.ts
  sidecar/src/tools/bash-exec/executor.ts
  sidecar/src/tools/bash-exec/index.ts
  sidecar/src/tools/bash-exec/validator.ts
  src/components/ai-elements/tool-calls-container.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: enhance message processing and tool call
  sidecar/src/utils/message-processor.ts
  src/components/ai-elements/thinking-process.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(app-sidebar): integrate translation for chat deletion messages
  src/components/app-sidebar.tsx
Due: none

feat: review
  sidecar/src/services/__tests__/tool-service.test.ts
  sidecar/src/tools/bash-exec/__tests__/executor.test.ts
  sidecar/src/utils/message-processor.ts
  src/components/app-chat.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(ci): add CI workflow for frontend and backend checks
  .github/workflows/ci.yml
Due: none

feat(ci): remove branch restrictions for push and pull request events
  .github/workflows/ci.yml
Due: none

feat(ci): remove pnpm version specification and Clippy check from backend
  .github/workflows/ci.yml
Due: none

feat(ci): restrict backend checks to macOS and add pnpm setup
  .github/workflows/ci.yml
Due: none

fix(ci): rename build step for sidecar from 'dev' to 'build'
  .github/workflows/ci.yml
Due: none

feat: update UI components and styles for improved layout and aesthetics
  src-tauri/tauri.conf.json
  src/components/ai-elements/prompt-input.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/components/nav-top.tsx
  src/components/nav-user.tsx
  src/components/select-model.tsx
  src/components/ui/button.tsx
  src/components/ui/sidebar.tsx
  src/pages/Home.tsx
  src/styles/App.css
  src/styles/global-utilities.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: add chat age formatting and toggle for chat visibility in NavChats component
  src/components/nav-chats.tsx
  src/locales/en/common.json
  src/locales/zh-CN/common.json
Due: format-frontend, check-frontend, lint-frontend

feat: implement chat search functionality with filtering and highlighting
  src/components/app-sidebar.tsx
  src/components/nav-chats.tsx
  src/components/ui/sidebar-search.tsx
  src/components/ui/sidebar.tsx
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend

refactor: remove auto-collapse logic for ToolCall components
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
Due: none

feat: enhance tool duration tracking and UI updates across components
  src/components/ai-elements/message.tsx
  src/components/ai-elements/tool-call.tsx
  src/components/ai-elements/tool-calls-container.tsx
  src/components/app-chat.tsx
  src/components/nav-chats.tsx
  src/components/ui/sidebar.tsx
  src/styles/streamdown.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: implement chat history search functionality with UI components and localization
  src/components/app-chat.tsx
  src/components/app-sidebar.tsx
  src/components/chat-history-search-dialog.tsx
  src/components/ui/sidebar-search.tsx
  src/hooks/use-chat-storage.ts
  src/lib/chat-search.test.ts
  src/lib/chat-search.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
  src/types/chat.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

Revert "feat: implement chat history search functionality with UI components and localization"
  src/components/app-chat.tsx
  src/components/app-sidebar.tsx
  src/components/chat-history-search-dialog.tsx
  src/components/ui/sidebar-search.tsx
  src/hooks/use-chat-storage.ts
  src/lib/chat-search.test.ts
  src/lib/chat-search.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
  src/types/chat.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor: simplify button components and improve tooltip layout
  src/components/nav-main.tsx
  src/components/nav-top.tsx
  src/components/nav-user.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
Due: none

feat: update package dependencies and improve build scripts for sidecar
  package.json
  pnpm-lock.yaml
  sidecar/package.json
  sidecar/scripts/rename-binaries.sh
  sidecar/src/config/env.ts
  sidecar/src/index.ts
  sidecar/src/middleware/cors.ts
  sidecar/src/types/global.d.ts
  sidecar/tsup.config.ts
  src/components/app-chat.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor: implement dynamic sidecar porting
  sidecar/src/index.ts
  src-tauri/src/lib.rs
  src-tauri/src/setup.rs
  src-tauri/src/setup/sidecar.rs
  src/components/app-chat.tsx
  src/hooks/use-chat-storage.ts
  src/lib/sidecar-client.ts
  src/vite-env.d.ts
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: enhance sidecar cleanup process with PID checks and force kill functionality
  src-tauri/src/setup/sidecar.rs
Due: format-backend, check-backend, test-backend

refactor: sidecar startup process with health checks and error handling
  sidecar/src/index.ts
  sidecar/src/routes/health.ts
  src-tauri/src/setup/sidecar.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat: add attachment functionality to chat input and update localization strings
  src/components/app-chat.tsx
  src/locales/zh-CN/chat.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend

feat: implement multi-session chat isolation
  src/components/app-chat.tsx
  src/hooks/use-chat-storage.ts
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: update PromptInputActionMenuContent alignment in AppChatInner
  src/components/ai-elements/prompt-input.tsx
  src/components/app-chat.tsx
Due: none

feat: add unread chat functionality
  src/components/app-chat.tsx
  src/components/app-sidebar.tsx
  src/components/nav-chats.tsx
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend

fix: simplify getDraftKey function and improve draft handling
  src/components/app-chat.tsx
Due: none

feat: add focus functionality to PromptInputTextarea and enhance AppChatInner focus handling
  src/components/ai-elements/prompt-input.tsx
  src/components/app-chat.tsx
Due: none

feat: update shortcut key display and improve shortcut handling in navigation components
  src/components/nav-main.tsx
  src/components/nav-top.tsx
  src/components/nav-user.tsx
  src/components/ui/sidebar.tsx
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: introduce new icons
  src-tauri/AppIcon.icns
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/16x16.png
  src-tauri/icons/16x16@2x.png
  src-tauri/icons/256x256.png
  src-tauri/icons/256x256@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/32x32@2x.png
  src-tauri/icons/512x512.png
  src-tauri/icons/512x512@2x.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

fix: update package manager version and remove unused dependencies
  package.json
  pnpm-lock.yaml
  sidecar/package.json
  src/styles/streamdown.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: replace tauri icon with new logo and add logo image
  index.html
  preview/img-1.png
  public/logo.png
  public/tauri.svg
Due: format-frontend, check-frontend, lint-frontend, test-frontend

Path conditions:
  format-frontend: any of: *.{js,ts,html,css,json}
  check-frontend: any of: *.{js,ts,html,css,json}
  lint-frontend: any of: *.{js,ts,html,css,json}
  test-frontend: any of: *.{js,ts,html,css}
  format-backend: any of: *.{rs,toml,json} and ^src\-tauri/
  check-backend: any of: *.{rs,toml,json} and ^src\-tauri/
  test-backend: any of: *.{rs,toml,json} and ^src\-tauri/
