Repository wangshunnn/mind-flayer: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

assert_lefthook_installed: true
skip_lfs: true

output:
  - meta
  - summary
  - success
  - failure
  # - execution
  - skips

pre-commit:
  parallel: true
  commands:
    format-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s format:frontend
    check-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s check:frontend
    lint-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css,json}"
      run: pnpm -s lint:frontend
    test-frontend:
      tags:
        - frontend
      glob: "*.{js,ts,html,css}"
      run: pnpm -s test:frontend
    format-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo fmt
    check-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo check
    test-backend:
      tags:
        - backend
        - rust
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo test

pre-push:
  commands:
    build-frontend:
      tags:
        - frontend
      run: pnpm -s build:frontend

commit-msg:
  commands:
    verify-commit-message:
      run: npx --no-install commitlint --edit {1}

feat: update SidebarUpdateIndicator to hide during checking status and adjust rendering logic
  src/components/SidebarUpdateIndicator.test.tsx
  src/components/SidebarUpdateIndicator.tsx
Due: none

feat: add chat renaming functionality and update related components
  src/components/app-chat.tsx
  src/components/app-sidebar.tsx
  src/components/nav-chats.test.tsx
  src/components/nav-chats.tsx
  src/hooks/use-chat-storage.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(release): v0.11.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat: add Z.AI (Zhipu) provider integration and related tests
  package.json
  pnpm-lock.yaml
  sidecar/package.json
  sidecar/src/config/__tests__/constants.test.ts
  sidecar/src/config/constants.ts
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/providers/__tests__/index.test.ts
  sidecar/src/providers/__tests__/minimax-provider.test.ts
  sidecar/src/providers/__tests__/zai-provider.test.ts
  sidecar/src/providers/index.ts
  sidecar/src/providers/minimax-provider.ts
  sidecar/src/providers/zai-provider.ts
  sidecar/src/routes/__tests__/title.test.ts
  sidecar/src/routes/title.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/tools/__tests__/read-tool.test.ts
  sidecar/src/type.ts
  sidecar/src/utils/__tests__/provider-options.test.ts
  sidecar/src/utils/provider-options.ts
  sidecar/tests/provider.example.ts
  src/components/icons/zhipu-icon.tsx
  src/lib/message-usage-cost.test.ts
  src/lib/message-usage-cost.ts
  src/lib/provider-constants.test.ts
  src/lib/provider-constants.ts
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(minimax): preserve image inputs with AI SDK 7
  sidecar/src/providers/__tests__/minimax-provider.test.ts
  sidecar/src/providers/minimax-provider.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(zai): replay reasoning across tool calls and restored sessions
  sidecar/src/providers/__tests__/zai-provider.test.ts
  sidecar/src/providers/zai-provider.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(zai): apply thinking controls to provider requests
  sidecar/src/providers/__tests__/zai-provider.test.ts
  sidecar/src/providers/zai-provider.ts
  sidecar/src/utils/provider-options.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

style: require braces for conditional branches
  AGENTS.md
  sidecar/src/utils/lifecycle.ts
  src/components/ai-elements/prompt-input.tsx
  src/components/theme-provider.tsx
  src/lib/shortcut-utils.ts
  src/lib/sidecar-client.ts
  src/pages/Settings/components/ProviderSection.tsx
  src/pages/Settings/components/WebSearchSection.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(context): add durable compaction engine and checkpoint storage
  pnpm-lock.yaml
  shared/context.ts
  shared/model-context.ts
  sidecar/package.json
  sidecar/src/context/engine.test.ts
  sidecar/src/context/engine.ts
  sidecar/src/context/prompts.ts
  sidecar/src/context/runner.test.ts
  sidecar/src/context/runner.ts
  sidecar/src/context/token-estimate.ts
  sidecar/tsconfig.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/chat_context.rs
  src-tauri/src/lib.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, format-backend, check-backend, test-backend

feat(chat): integrate persistent compaction across desktop and Telegram
  docs/context-management.md
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
  sidecar/src/providers/__tests__/minimax-provider.test.ts
  sidecar/src/providers/__tests__/zai-provider.test.ts
  sidecar/src/routes/__tests__/chat-context-usage.test.ts
  sidecar/src/routes/chat.ts
  sidecar/src/routes/index.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  sidecar/src/services/__tests__/telegram-session-store.test.ts
  sidecar/src/services/telegram-bot-service.ts
  sidecar/src/services/telegram-session-store.ts
  sidecar/src/utils/__tests__/message-compaction.test.ts
  sidecar/src/utils/__tests__/provider-options.test.ts
  sidecar/src/utils/message-compaction.ts
  sidecar/src/utils/provider-options.ts
  sidecar/src/utils/system-prompt-builder.ts
  src/components/ai-elements/context-window-usage-indicator.test.tsx
  src/components/ai-elements/context-window-usage-indicator.tsx
  src/components/app-chat.tsx
  src/components/channel-telegram-chat.test.tsx
  src/components/channel-telegram-chat.tsx
  src/hooks/use-chat-storage.ts
  src/lib/chat-context.test.ts
  src/lib/chat-context.ts
  src/lib/context-window-usage.test.ts
  src/lib/context-window-usage.ts
  src/lib/provider-constants.ts
  src/lib/sidecar-client.ts
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(sidecar): update DeepSeek streaming example
  sidecar/tests/provider.example.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(usage): normalize shared token accounting
  shared/message-usage.ts
  src/lib/message-usage-cost.test.ts
  src/lib/message-usage-cost.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(context): preserve measured and cumulative step usage
  docs/context-management.md
  shared/context.ts
  shared/message-usage.ts
  sidecar/src/context/engine.test.ts
  sidecar/src/context/engine.ts
  sidecar/src/context/runner.test.ts
  sidecar/src/context/runner.ts
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/handlers/stream-handler.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(context): display token usage composition
  docs/context-management.md
  shared/context.ts
  sidecar/src/context/engine.test.ts
  sidecar/src/context/engine.ts
  sidecar/src/context/runner.test.ts
  sidecar/src/context/token-estimate.ts
  sidecar/src/handlers/__tests__/stream-handler.test.ts
  sidecar/src/routes/__tests__/chat-context-usage.test.ts
  sidecar/src/services/__tests__/telegram-bot-service.test.ts
  src/components/ai-elements/context-window-usage-indicator.test.tsx
  src/components/ai-elements/context-window-usage-indicator.tsx
  src/components/app-chat.tsx
  src/components/channel-telegram-chat.test.tsx
  src/components/channel-telegram-chat.tsx
  src/lib/chat-context.test.ts
  src/lib/chat-context.ts
  src/lib/context-window-usage.test.ts
  src/lib/context-window-usage.ts
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(chat): display cumulative session token usage
  docs/context-management.md
  src/components/ai-elements/session-token-usage.test.tsx
  src/components/ai-elements/session-token-usage.tsx
  src/components/app-chat.tsx
  src/lib/chat-context.test.ts
  src/lib/chat-context.ts
  src/lib/session-usage.test.ts
  src/lib/session-usage.ts
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor(context): simplify usage hover details
  src/components/ai-elements/context-window-usage-indicator.test.tsx
  src/components/ai-elements/context-window-usage-indicator.tsx
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
Due: format-frontend, check-frontend, lint-frontend

fix(context): keep usage breakdown segments visible
  src/components/ai-elements/context-window-usage-indicator.test.tsx
  src/components/ai-elements/context-window-usage-indicator.tsx
Due: none

feat(chat): display message send and completion times
  src/components/ai-elements/message-actions-bar.test.tsx
  src/components/ai-elements/message-actions-bar.tsx
  src/components/app-chat.tsx
  src/lib/chat-utils.test.ts
  src/lib/chat-utils.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore(ui): increase default window size to 1200x900
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

docs(readme): add context window screenshot
  README.md
  README.zh-CN.md
  preview/context-window.png
Due: none

refactor(chat): add frame-scheduled render store
  src/lib/chat-render-store.test.ts
  src/lib/chat-render-store.ts
  src/lib/frame-scheduler.test.ts
  src/lib/frame-scheduler.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor(chat): isolate keyed message rendering
  src/components/app-chat.tsx
  src/components/chat-transcript.tsx
  src/hooks/use-observable-value.ts
  src/lib/chat-render-store.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

perf(markdown): incrementally render streaming blocks
  src/components/ai-elements/assistant-activity.tsx
  src/components/ai-elements/message.test.tsx
  src/components/ai-elements/message.tsx
  src/components/ai-elements/reasoning-content.tsx
  src/components/chat-transcript.tsx
Due: none

perf(chat): decouple timeline from streaming updates
  src/components/app-chat.tsx
  src/components/chat-transcript.tsx
  src/lib/chat-message-timeline.ts
  src/pages/Home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

test(chat): add streaming performance contracts
  src/components/chat-transcript.test.tsx
  src/components/chat-transcript.tsx
  src/lib/chat-message-timeline.test.ts
  src/lib/chat-render-store.test.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(chat): remove sent-message top pinning
  src/components/app-chat.tsx
Due: none

fix(chat): preserve precise cache hit percentages
  src/components/ai-elements/session-token-usage.test.tsx
  src/components/ai-elements/session-token-usage.tsx
Due: none

style(chat): increase timeline item spacing
  src/components/ChatMessageTimeline.tsx
Due: none

fix(chat): own conversation bottom follow
  package.json
  pnpm-lock.yaml
  src/components/ai-elements/conversation.test.tsx
  src/components/ai-elements/conversation.tsx
  src/components/app-chat.tsx
  src/components/channel-telegram-chat.tsx
  src/hooks/use-conversation-scroll.ts
  src/lib/conversation-scroll.test.ts
  src/lib/conversation-scroll.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(chat): keep loading indicator above composer
  src/components/app-chat.tsx
Due: none

style(window): align title bar controls
  src-tauri/tauri.conf.json
  src/components/top-floating-header.tsx
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

chore(release): v0.12.0
  CHANGELOG.md
  package.json
  sidecar/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, format-backend, check-backend, test-backend

feat(theme): add refined appearance presets
  src/components/appearance-theme-preview.tsx
  src/components/theme-provider.test.tsx
  src/lib/appearance-themes.ts
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(settings): keep option menus open after selection
  src/components/nav-user.test.tsx
  src/components/nav-user.tsx
Due: none

fix(chat): use theme accent for reply loading indicator
  src/components/chat-transcript.test.tsx
  src/components/chat-transcript.tsx
Due: none

feat(zai): add GLM 5.3 models and connection presets
  shared/model-context.ts
  shared/zai-connection.ts
  src/components/select-model.tsx
  src/hooks/use-available-models.ts
  src/lib/provider-constants.test.ts
  src/lib/provider-constants.ts
  src/lib/zai-connection.test.ts
  src/locales/en/settings.json
  src/locales/zh-CN/settings.json
  src/pages/Settings/components/ProviderSection.test.tsx
  src/pages/Settings/components/ProviderSection.tsx
  src/pages/Settings/index.tsx
  src/types/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(chat): align reasoning and attachments with model capabilities
  src/components/ai-elements/prompt-input.test.tsx
  src/components/ai-elements/prompt-input.tsx
  src/components/app-chat.tsx
  src/components/tool-button.test.tsx
  src/components/tool-button.tsx
  src/lib/constants.ts
  src/locales/en/chat.json
  src/locales/en/tools.json
  src/locales/zh-CN/chat.json
  src/locales/zh-CN/tools.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(sidecar): support GLM 5.3 request semantics
  sidecar/src/config/constants.ts
  sidecar/src/providers/__tests__/zai-provider.test.ts
  sidecar/src/providers/zai-provider.ts
  sidecar/src/utils/__tests__/provider-options.test.ts
  sidecar/src/utils/provider-options.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat(chat): display user message attachments
  src/App.tsx
  src/components/ai-elements/message-actions-bar.tsx
  src/components/ai-elements/message.test.tsx
  src/components/ai-elements/message.tsx
  src/components/chat-transcript.test.tsx
  src/components/chat-transcript.tsx
  src/lib/file-save.test.ts
  src/lib/file-save.ts
  src/lib/image-preview.test.ts
  src/lib/image-preview.ts
  src/lib/window-manager.test.ts
  src/lib/window-manager.ts
  src/locales/en/chat.json
  src/locales/zh-CN/chat.json
  src/pages/ImagePreview.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix(chat): remove attachment sent toast
  src/components/app-chat.tsx
  src/lib/constants.ts
  src/locales/en/common.json
  src/locales/zh-CN/common.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend
